@import "./common/index.less";
@import "./variable.less";
body {
  min-height: 100vh;
  background-color: #f0f2f5 !important;
}

.text {
  cursor: pointer;
  transition: 0.1s linear;
  &:hover {
    color: @primary-color;
  }
}

.primary-color {
  color: @primary-color;
}

.word-break {
  word-wrap: break-word;
  word-break: break-all;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.page-content {
  width: @pc-width;
  margin: 0 auto;
}

.user-select {
  user-select: none;
  -webkit-user-select: none;
}
.action-box {
  span {
    cursor: pointer;
    margin-right: 5px;
  }
  .primary {
    color: #1890ff;
  }
  .success {
    color: #52c41a;
  }
  .error {
    color: #f5222d;
  }
  .warn {
    color: #faad14;
  }
}
.text {
  cursor: pointer;
  &:hover {
    color: #1890ff;
  }
}
